[submodule "miracleworkers"]
	path = miracleworkers
	url = https://github.com/ayyyeisa/miracleworkers
[submodule "Seller_page"]
	path = Seller_page
	url = https://github.com/JG0313/Seller_page
[submodule "CatProject"]
	path = CatProject
	url = https://github.com/MarcusJWatson/CatProject
[submodule "CS390-CatapillarIMVictory"]
	path = CS390-CatapillarIMVictory
	url = https://github.com/NDiCarlo/CS390-CatapillarIMVictory
[submodule "Seller_Page"]
	path = Seller_Page
	url = https://github.com/JG0313/Seller_Page.git
[submodule "PeakPerformersModule"]
	path = PeakPerformersModule
	url = https://github.com/alecpizz/PeakPerformersModule
